/*----------------------Font-familly--------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-Regular.ttf");}
@font-face {    
    font-family: "GothamBold";
    src: url("../font/GothamBold.ttf");}
@font-face {    
    font-family: "GothamBook";
    src: url("../font/GothamBook.ttf");}
@font-face {    
    font-family: "GothamMedium";
    src: url("../font/GothamMedium.ttf");}
@font-face {    
    font-family: "MyriadPro-Regular";
    src: url("../font/MYRIADPRO-REGULAR.OTF");}
/*------------------------------Global chris/pc-----------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*------------------------------Section Navigation chris/pc-------------------------------*/
#boxNav {
    background: url(../img/header.png) center top/cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#boxNav > nav {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgba(255, 255, 255, 0.37);
    position: fixed;
    top: 0;
}/* ---------------------Partie Logo ACS--chris/pc-----------------------------------------*/
#boxNav > nav > .boxLogo {
    width: 20%;
    display:  flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 40;
}
#boxNav > nav > .boxLogo > .carre {
    width: 67px;
    height: 67px;
    position: absolute;
}
#boxNav > nav > .boxLogo > .carre.blanc {
    background: rgba(255,255,255,0.70);
    margin-left: 20px;
    margin-top: 20px;
    z-index: 30;
}
#boxNav > nav > .boxLogo > .carre.rose {
    background: #d21242;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(47, 46, 44, 0.829);
}
#boxNav > nav > .boxLogo > .carre.rose > p {
    font-size: 1.875em;
    color: #f5f5f5;
    font-family: "Roboto";
    font-weight: 700;
    user-select: none;
}/*---------------------------Parite Navigation chris/pc---------------------------------------*/
#boxNav > nav > ul {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
}  
#boxNav > nav > ul > li {
    list-style-type: none;
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boxNav > nav > ul > li > a {
    text-decoration:  none;
    color: white;
    font-family: "MyriadPro-Regular";
    font-size: 1em;
    padding: 0 10px;
}
#boxNav > nav > ul > li:hover {
    color: #d21242;
    border-bottom: 3px solid #d21242;
}/*---------------------------Partie Nav Réseau sociaux chris/pc---------------------------*/
#boxNav > nav >.boxReseau {
    width: 20%;
    display: flex;
}
#boxNav > nav >.boxReseau > a {
    font-size: 15px;
    padding: 0px 5px;
    color: #ffff;
    text-decoration: none;
}
#boxNav > nav >.boxReseau > a:hover {
    color: #d21242;
}/*---------------------------Partie Navigation burger chris/pc----------------------------*/
.none{
    display: none !important;
}
#burger {
    display: none;
    margin-right: 10px;
    cursor: pointer;
    color: #ffffff;
}
#closeNav {
    display: none;
    margin-right: 10px;
    cursor: pointer;
    color: #ffffff;
}
#mobileNavArea{
    overflow: hidden;
    width: 100%;
    height: 0px;
    background-color : rgba(255,255,255,0.21);
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s ease 0s;
}
.openNav{
    height: 300px !important;
}
#mobileNavArea > ul > li {
    list-style-type: none;
    margin: 15px 0px;
}
#mobileNavArea > ul > li > a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 500;
    margin: 0px 80px;
    font-family: "MyriadPro-Regular";
}
#mobileNavArea > ul > li > a:hover{
    color: #d21242;
}/*---------------------------partie reseau sociaux  mobile chris/pc------------------------*/
.mobileReseau {
 width: 100%;
 display: flex;
 justify-content: flex-end;
 padding: 0px 50px;
}
.fa-brands{
    margin: 0px 10px;
    text-decoration: none;
    color: #ffffff;
}
.fa-brands:hover{
    color: #d21242;
}/*---------------------------------section Header chris/pc-----------------------------------*/
header {
       min-height: 100vh;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
}
header > h1 {
    font-size: 7.5em;
    color: #f5f5f5;
    font-family: "GothamBook";
    margin-top: 50px;
    text-align: center;
    animation: apparition 1s ease-out;
}
@keyframes apparition {
    from{
        opacity: 0;
        transform: translateY(-100px);}
        to{
            opacity: 1; 
            transform: translateY(0px);
        }
}
header > p {
    font-size:0.813em;
    font-family: "Open Sans";
    color: #ffff;
    margin-top: 100px;
}
header > .roundH {
    width: 65px;
    height: 65px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > div > a > .fa-chevron-down {
    color: #ffffff;
    font-size: 30px;
}
header > div > a > i:hover {
    color: #d21242; 
    transform: rotate(180deg);
}/*----------------------------------section 1 chris/pc-----------------------------*/
#section1 {
    width: 100%;
    min-height: 100vh;
    background: #d21242;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#section1 > .boxTitle {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}  
#section1 > .boxTitle > h2 {
    font-size: 2.375em;
    color: #ffffff;
    font-family:"GothamBook";
    z-index: 2;
    position: relative;
}
#section1 > .boxTitle > h2::before {
    position: absolute;
    content: 'W';
    width: 100%;
    top: -130px;
    left: 0;
    text-align: center;
    font-size: 7em;
    color: #da3d64;
    font-family: "Roboto";
    z-index: -1;
    user-select: none;
}/*----------------------------section partie activity  chris/pc--------------------*/
#section1 > #activity {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
#section1 > #activity > .write {
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#section1 > #activity > .write > a {
    color: #ffffff; 
    padding: 50px 0px;
    font-size: 1.2em;
}
#section1 > #activity > .write > h3 {
    font-size: 1.125em;
    font-family: "GothamBook";
    padding: 20px 0px;
}
#section1 > #activity > .write > p {
    width: 78%;
    font-size: 0.938em;
    line-height: 1.3em;
    padding: 20px 0px;
    text-align: center;
}
/* ============================== section 2 VB ============================== */
#sec2{
    min-height: 100vh;
    display: flex;
    width: 100%;}
/* =========================== Left VB =========================== */
#sec2>.left{
    width: 50%;
    display: flex;
    flex-direction: column;}
.left>.leftP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222222;
    height: 50vh;}
.left>.leftP>p{
    width: 60%;
    color: white;
    justify-content: flex-start;
    line-height: 24px;
    font-size: 1.5vh;
    margin: 10px 0px;
    font-family: "GothamBook", sans-serif;}
.left>.leftP>h3{
    color: white;
    line-height: 36px;
    width: 60%;
    margin: 5px 0 20px 0;
    font-size: 4vh;
    font-family: "GothamBold", sans-serif;}
.left>.leftImg{
    height: 50vh;
    background: url(../img/leftimg.png) center center/cover;}
/* =========================== Right VB =========================== */
#sec2>.right{
    width: 50%;
    display: flex;
    flex-direction: column-reverse;}
.right>.rightP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f3f3f3;}
.right>.rightP>p{
    width: 60%;
    justify-content: flex-start;
    line-height: 24px;
    font-size: 1.5vh;
    margin: 10px 0px;
    font-family: "GothamBook", sans-serif;}
.right>.rightP>h3{
    width: 60%;
    margin: 5px 0 20px 0;
    font-size: 4vh;
    line-height: 36px;
    font-family: "GothamBold", sans-serif;}
.right>.rightImg{
    height: 50vh;
    background: url(../img/rightimg.png) center center/cover;}
/* ============================== section 3 VB ============================== */
#sec3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 75px;}
/* =========================== Line top VB =========================== */
#sec3>.lineTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;}
.lineTop>.B{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 15.438rem;
    color: #d21242;
    overflow: visible;
    user-select: none;
    font-weight: 1000;}
.lineTop>.lets{
    font-family: "GothamMedium", sans-serif ;
    margin-top: 7.8rem;
    position: absolute;
    font-size: 2.375rem;
    font-weight: lighter;}
.lineTop>h2{
    font-family: "GothamBook", sans-serif;
    font-size: 1.875rem;
    text-align: center;
    font-weight: lighter;}
/* =========================== Line Bottom VB =========================== */
#sec3>.lineBottom{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;}
#sec3>.lineBottom h3{
    margin: 10px 0 10px 0;
    color: #d21242;
    text-align: center;
    font-size: 1.125rem;
    width: 100%;
    line-height: 36px;}
#sec3>.lineBottom p{
    color: #222222;
    font-size: 0.938rem;
    line-height: 24px;
    text-align: center;
    width: 80%;}
/* =========================== Line Bottom Img VB =========================== */
.lineBottom>.line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;}
.lineBottom>.line>.img1, .img2, .img3{
    width: 100%;
    height: 180px;}
.line>.img1{
    background: url(../img/img1.png) center center/cover;}
.line>.img2{
    background: url(../img/img2.png) center center/cover;}
.line>.img3{
    background: url(../img/img3.png) center center/cover;}
/* ============================== footer VB ============================== */
footer{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;}
footer>.bgFooter{
    background-color: #d21242;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 391px;}
/* ============================== footer Left VB ============================== */
.bgFooter>.footerL, p{
    display: flex;
    justify-content: center;
    align-items: center;}
.bgFooter>.footerL>p{
    width: 60%;
    line-height: 24px;
    color: white;
    font-size: 0.938rem;
    font-family: "GothamBook", sans-serif;}
.footerL>a>i{
    color: #ffffff;
    padding: 10px;}
/* ============================== footer Right VB ============================== */
.bgFooter>.footerR, p{
    display: flex;
    justify-content: center;
    align-items: center;}
.bgFooter>.footerR>p{
    width: 60%;
    line-height: 24px;
    color: white;
    font-size: 0.938rem;
    font-family: "GothamBook", sans-serif;}
.footerR>a>i{
    color: #ffffff;
    padding: 10px;}
.cR>p>span{
    color: #d21242;}
/* ============================== footer CopyRight VB ============================== */
footer>.cR{
    background-color: #222222;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    align-items: center;}
.cR>p{
    font-size: 13px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}/* ------------------------------------------responsive chris/tablette max-width 1024px------------------------------------------------*/
@media screen and (max-width: 1024px) {
/*------------------------Partie Navivagtion logo chris/tablette-1024-------------------------------*/   
#boxNav > nav {
    position: static;
}
#boxNav > nav > .boxLogo > .carre {
        width: 50px;
        height: 50px;
}
#boxNav > nav > .boxLogo > .carre.rose > p {
        font-size: 1.1em;
}/*-------------------Parite Navigation chris/tablette-1024px------------------------------------------*/
#boxNav > nav {
    justify-content: space-between;
    align-items: center;
}
#boxNav > nav > ul {
    display: none;
}/*---------------------------Partie Nav Réseau sociaux chris/tablette-1024px---------------------------*/
#boxNav > nav >.boxReseau {
        display: none;
}
#mobileNavArea > .mobileReseau{
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}
#mobileNavArea > .mobileReseau > a{
    padding: 20px 10px;
}
.mobileReseau {
    padding: 0px 20px;
}/*--------------------------Partie Nav burger chris/tablette-1024px-------------------------------------*/
#burger {
    display: block;
    color: #ffffff;
    padding: 0 20px;
}
#closeNav{
    display: block;
    color: #ffffff;
    padding: 0 20px;
}/*---------------------------------section Header chris/tablette-1024px--------------------------------*/
header > h1 {
    font-size:5.5em;
}/*---------------------------------section 1 activity chris/tablette-1024px-----------------------------*/
#section1 > .boxTitle > h2 {
    font-size: 2.5em;
}
#section1 > .boxTitle > .w {
    font-size: 14em;
}/*----------------------------section partie activity  chris/tablette-1024px----------------------------*/
#section1 > #activity > .write > h3 {
    font-size: 1em;
}
/* ===================== Media 1024 (Section3) VB ===================== */
.lineBottom>.line>.img1, .img2, .img3{
    width: 80%;
    height: 150px;
}
#sec3>.lineBottom h3{
    margin: 10px 10px;
    width: 85%;
    font-size: 0.75rem;
}
#sec3>.lineBottom p{
    margin: 10px 10px;
    width: 80%;
    font-size: 0.8rem;
}
.lineTop>h2{
    font-size: 1.6rem;
}
.lineBottom>.line{
    margin: 0;
}
/* ===================== Media 1024 (Footer) VB ===================== */
.bgFooter>.footerL>p{
    width: 70%;
    font-size: 0.8rem;
}
.bgFooter>.footerR>p{
    width: 70%;
    font-size: 0.8rem;
}}
/* ------------------------------------------responsive chris/tablette max-width 768px------------------------------------------------*/
@media screen and (max-width: 768px) {
/*---------------------------Partie Navigation burger chris/tablette max-width: 768px;----------------------------*/
#mobileNavArea > ul > li > a{
    margin: 0px 54px;
}/*---------------------------partie reseau sociaux  mobile chris/pc------------------------*/
.mobileReseau {
    padding: 0px 20px;
}/*---------------------------------section Header chris/tablette-768px--------------------------------*/
header > h1 {
    font-size:3.5em;
}/*----------------------------------section 1 chris/tablette-768px---------------------------------*/
#section1 > .boxTitle > h2 {
    font-size: 2.3em;
    text-align: center;
}
#section1 > .boxTitle > h2::before {
    top: -100px;
}/*------------------------section partie activity  chris/tablette-768px----------------------------*/
#section1 > #activity {
    flex-wrap: wrap;
}
#section1 > #activity > .write {
    width: 50%;
}
#section1 > #activity > .write > a {
    padding: 10px 0px;
    font-size: 1.3em;
}
#activity > .write > h3 {
    font-size: 1.3em;
}
#section1 > #activity > .write > p {
    font-size: 0.875em;
}
  /* ===================== Media 768 (Section 2) VB ===================== */
  .left>.leftP>p{
    font-size: 1.8vh;
    line-height: 17px;
    
}
.left>.leftP>h3{
    padding-top: 10px;
    font-size: 1.8vh;
    line-height: 17px;
}
.right>.rightP>p{
    font-size: 1.8vh;
    line-height: 17px;
}
.right>.rightP>h3{
    font-size: 1.8vh;
    padding-top: 10px;
    line-height: 20px;
}
/*===================== Media 768 (Section 3)VB ===================== */
.lineBottom>.line{
    width: 50%;
}
.lineBottom>.line>.img1{
    width: 50%;
    height: 25vh;
}
.lineBottom>.line>.img2{
    width: 50%;
    height: 25vh;
}  
.lineBottom>.line>.img3{
    width: 50%;
    height: 25vh;
}
.lineBottom>h3{
    margin: 10px 10px;
    width: 25vw;
    font-size: 1rem;
}
.lineBottom>p{
    margin: 10px 10px;
    width: 25vw;
    font-size: 0.8rem;
}
.lineBottom{
    flex-wrap: wrap;
}/* ===================== Media 768 (Footer) VB ===================== */
.bgFooter>.footerL>p{
    width: 80%;
    font-size: 0.7rem;
    line-height: 15px;
}
.bgFooter>.footerR>p{
    width: 80%;
    font-size: 0.7rem;
    line-height: 15px;
}
.bgFooter>.footerL>a > .fa-solid{
    font-size: 3.5rem;
}
.bgFooter>.footerR>a > .fa-solid{
    font-size: 3.5rem;
}
}
/* ------------------------------------------responsive chris/tablette max-width 425px------------------------------------------------*/
@media screen and (max-width: 425px) {   
header > h1 {
    font-size: 2.8em;
}
#mobileNavArea > ul > li {
    margin: 15px -35px;
}
header > .roundH {
    width: 55px;
    height: 55px;
}
header > div > a > .fa-chevron-down {
    font-size: 25px;
}
#section1 > .boxTitle > h2 {
    font-size: 1.8em;
}
#section1 > #activity > .write > a {
    font-size: 1em;
}
#section1 > #activity > .write > p {
    width: 90%;
}
  /* =========================== Sec 2 (425) VB =========================== */
  #sec2{
    flex-direction: column;
    min-height: 200vh;
}
/* =========================== left (425) VB =========================== */
#sec2>.left{
    height: 100vh;
    width: 100%;
}
.left>.leftP{
    height: 50vh;
    padding: 50px 10px;
}
.left>.leftP>p{
width: 70%;
}
.left>.leftP>h3{
    width: 70%;
}
.left>.leftImg{
    width: 100%;
    height: 100vh;
}
/* =========================== Right (425) VB =========================== */
#sec2>.right{
    height: 100vh;
    width: 100%;
    flex-direction: column;
}
.right>.rightP{
    padding: 50px 10px;
    height: 50vh;
    width: 100%;
}
.right>.rightP>p{
    width: 70%;
}
.right>.rightP>h3{
    width: 70%;
}
.right>.rightImg{
    height: 100vh;
    width: 100%;
}
/* =========================== Sec 2 (425) VB =========================== */
.lineTop>.B{
    font-size: 12rem;
}
.lineTop>.lets{
    margin-top: 96px;
    font-size: 1.6rem;
}
.lineTop>h2{
    font-size: 1rem;
    width: 90%;
}
/* =========================== line bottom (425) VB =========================== */

.lineBottom>.line{
    width: 100%;
}
.lineBottom>.line>.img1{
    width: 50%;
    height: 25vh;
}
.lineBottom>.line>.img2{
    width: 50%;
    height: 25vh;
}  
.lineBottom>.line>.img3{
    width: 50%;
    height: 25vh;
}
.lineBottom>h3{
    margin: 10px 10px;
    width: 25vw;
    font-size: 1rem;
}
#sec3>.lineBottom>.line>p{
    line-height: 20px;
    width: 70%;
    font-size: 0.8rem;
    text-align: center;
}
#sec3>.lineBottom{
    flex-direction: column;
}
/* =========================== line bottom (425) VB =========================== */
footer>.bgFooter{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bgFooter>.footerL{
    flex-direction: column;
}
.bgFooter>.footerR{
    flex-direction: column;
}
.bgFooter>.footerR>a{
    font-size: 0.5rem;
    padding: 10px 0;
}
.bgFooter>.footerL>a{
    font-size: 0.5rem;
    padding: 10px 0;
}
.bgFooter>.footerL>p{
    line-height: 15px;
    text-align: center;
}
.bgFooter>.footerR>p{
    line-height: 15px;
    text-align: center;
}}
/* ------------------------------------------responsive chris/tablette max-width 390px------------------------------------------------*/
@media screen and (max-width: 390px) { 
#section1 > #activity {
    flex-direction: column;
    width: 100%;
}
#section1 > #activity > .write > p {
    width: 100%;
}
#section1 > #activity > .write > a {
    font-size: 1.2em;
}
  /* =========================== Sec 2 (425) VB =========================== */
  .lineTop>.B{
    font-size: 10rem;
}
.lineTop>.lets{
    margin-top: 83px;
    font-size: 1.4rem;
}
.lineTop>h2{
    font-size: 1rem;
    width: 90%;
}
.cR>p{
    font-size: 11px;
    line-height: 28px;
}
.bgFooter>.footerR>a{
    font-size: 0.3rem;
    padding: 10px 0;
}
.bgFooter>.footerL>a{
    font-size: 0.3rem;
    padding: 10px 0;
}
.bgFooter>.footerL>p{
    line-height: 15px;
    text-align: center;
}
.bgFooter>.footerR>p{
    line-height: 15px;
    text-align: center;
}
.lineBottom>h3{
    margin: 10px 10px;
    width: 25vw;
    font-size: 0.875rem;
}
#sec3>.lineBottom>.line>p{
    line-height: 20px;
    width: 80%;
    font-size: 0.8rem;
    text-align: center;
}}
/* ------------------------------------------responsive chris/tablette max-width 375px------------------------------------------------*/
@media screen and (max-width: 375px) { 
header > h1 {
    font-size: 2.5em;
}    
#section1 > #activity > .write > p {
    width: 100%;
}
#section1 > #activity > .write > a {
    font-size: 1em;
}
.lineTop>.B{
    font-size: 8rem;
}
.lineTop>.lets{
    margin-top: 65px;
    font-size: 1.2rem;
}
.lineTop>h2{
    font-size: 0.875rem;
}
.cR>p{
    font-size: 0.688rem;
    line-height: 25px;
}
.bgFooter>.footerR>a{
    font-size: 0.4rem;
}
.bgFooter>.footerL>a{
    font-size: 0.4rem;
}
#sec3>.lineBottom>.line>p{
    line-height: 18px;
    width: 80%;
    font-size: 0.6rem;
}}
